{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":3,"position":3,"stack":[[{"start":{"row":9,"column":16},"end":{"row":10,"column":0},"action":"insert","lines":["",""],"id":2}],[{"start":{"row":10,"column":0},"end":{"row":10,"column":15},"action":"insert","lines":["gunicorn-19.9.0"],"id":3}],[{"start":{"row":10,"column":8},"end":{"row":10,"column":9},"action":"remove","lines":["-"],"id":4}],[{"start":{"row":10,"column":8},"end":{"row":10,"column":9},"action":"insert","lines":["="],"id":5},{"start":{"row":10,"column":9},"end":{"row":10,"column":10},"action":"insert","lines":["="]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":10,"column":10},"end":{"row":10,"column":10},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":9,"state":"start","mode":"ace/mode/text"}},"timestamp":1567862381831,"hash":"fe02da298daccbcdaef681bfd8295c03c01f9ae0"}