{% extends 'base.html' %} {% block content %}

<section class="htc__category__area ptb--100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section__title--2 text-center">
                    <h2 class="title__line">New Arrivals</h2>
                    <p>But I must explain to you how all this mistaken idea</p>
                </div>
            </div>
        </div>
        <div class="htc__product__container">
            <div class="row">
                <div class="product__list clearfix mt--30">

                    {% for product in products %}
                    <!-- Start Single Category -->
                    <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                        <div class="category">
                            <div class="ht__cat__thumb">
                                <a href="{% url 'product_detail' product.id %}">
                                            <img src="{{ MEDIA_URL }}{{ product.image }}" alt="product images">
                                        </a>
                            </div>
                            <div class="fr__hover__info">
                                <ul class="product__action">
                                    <li><a href="wishlist.html"><i class="icon-heart icons"></i></a></li>

                                    <li><a href="cart.html"><i class="icon-handbag icons"></i></a></li>

                                    <li><a href="#"><i class="icon-shuffle icons"></i></a></li>
                                </ul>
                            </div>
                            <div class="fr__product__inner">
                                <h4><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h4>
                                <ul class="fr__pro__prize">
                                    <li class="old__prize">{{ product.old_price }}</li>
                                    <li>{{ product.price }}
                                        </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Category -->
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Category Area -->













<div class="row row-flex">
    {% for product in products %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
        <div class="panel-body">
            <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

            <h3>{{ product.name }}</h3>
            <p class="product-description">{{ product.description }}</p>
            <p>{{ product.price }}</p>

            <form method="post" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                    <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}